@font-face {
    font-family: "Gotham";
    font-style: normal;
    font-weight: 600;
      src: local("Gotham"),
           url("/fonts/Gotham_bold.otf") format("otf"),
    }
    @font-face {
        font-family: "MyriadPro";
        font-style: normal;
        font-weight: 400;
          src: local("MyriadPro"),
               url("/fonts/MyriadPro-Regular") format("woff"),
        }
body {
    margin: 0;
    padding: 0;
    width: 100%;
    color: #fff;
}
/* Header section */
header {
    background: url(../img/01_background.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 100%;
    padding-bottom: 5vh;
    padding-top: 85px;
    height: 100vh;
}
.header_tittle {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end; 
    position: relative;
    
}
.header_tittle_img {
    width: 20%;
    padding-left: 7%;
    height: 100%;
    display: flex;
    align-items: end;
}
.header_tittle_img img {
    max-width: 100%;
   max-height: 100%;
    object-fit: scale-down;
    display: flex;
}
.header_tittle_version {
    text-transform: uppercase;
    font: 7vw/0.7 "Gotham", "Arial", sans-serif;
    font-weight: 600;
}
.header_tittle_link {
    font: 4vw/1 "MyriadPro", "Arial", sans-serif;
    position: absolute;
    right:0;
    bottom: 0;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    color: #fff;
    padding: 22px 10px;
    background: #3E8DDD;
    box-sizing: border-box;
    
}
@media (max-width: 992px) {
    header {
        height: auto;
        padding: 10px;
    }
    .header_tittle_img img {
        width: 80%;
    }
    .header_tittle_link {
        right: -10px;
    }
}
@media (max-width: 576px) {
    header {
        padding: 10px 0;
    }
    .header_tittle_img img {
        width: 80%;
        height: 30%;
    }
    .header_tittle_link {
        right: 0 !important;
    }
    .header_tittle_link {
        font-size: 3vw;
    }
    .header_tittle {
        max-width: 100%;
    }
    .header_tittle_link {
        display: none;
    }
    
}
/* -------------------------------------------------------- */

/* CPU */
.cpu {
    background: url(../img/CPU.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 100%;
    padding:100px;
    display: flex;
    justify-content: space-between;
    height: auto;
}
.cpu_left_section {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cpu_right_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 40%;
    max-width: 100%;
}
.cpu_right_section_info {
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}
.cpu_right_section_info:nth-of-type(3) {
    margin-bottom: 0;
}
.cpu_right_section_info_text {
    font: 1.3vw/1 "MyriadPro", "Arial", sans-serif;
    text-align: center;
    margin-top: 30px;
    font-weight: 400;
}
.cpu_left_section_img {
    object-fit: contain;
}
.cpu_right_section_info_img {
    width: 50%;
    object-fit: contain;
}
h2 {
    font: 4vw/1 "Gotham", "Arial", sans-serif;
    font-weight: 600;
    background: -webkit-linear-gradient(-123deg, #4facfe, #00f2fe);
    background: linear-gradient(-123deg, #4facfe, #00f2fe);
    background: -webkit-linear-gradient(-123deg, #4facfe, #00f2fe);
    background: -moz-linear-gradient(-123deg, #4facfe, #00f2fe);
    background: -o-linear-gradient(-123deg, #4facfe, #00f2fe);
    background: -ms-linear-gradient(-123deg, #4facfe, #00f2fe);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#4facfe', endColorstr='#00f2fe', GradientType=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#4facfe',endColorstr='#00f2fe')";
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@media (max-width: 992px) {
.cpu {
    padding: 20px;
}
.cpu_left_section {
    width: 40%;
    justify-content: space-around;
}
.cpu_right_section {
    width: 55%;
}
}
@media (max-width: 576px) {
   .cpu {
       padding: 21px;
   }
   .cpu_right_section_info {
       margin-bottom: 20px;
   }
   .cpu_right_section {
       height: 100%;
   }
   .cpu_left_section {
       justify-content: flex-start;
   }
   .cpu_left_section_img {
       margin-top: 50px;
   }
   .cpu_left_section {
       height: 100%;
   }
   .cpu_left_section_img {
      width: 100%;
      height: 100%;
   }
   .cpu_right_section_info_text {
       margin-top: 15px;
   }
}

/* -------------------------------------------------------- */

/* AMD */
.amd {
    background: url(../img/Amd.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;
    padding: 135px 70px 100px 0;
    height: auto;
}
.amd_container {
    width: 40%;
}
.amd_container_text {
    margin-top: 55px;
    font: 1.3vw/1.5 "MyriadPro", "Arial", sans-serif;
    color: #fff;
    font-weight: 400;
}
.amd_container_img {
    width: 157px;
    height: 141px;
    object-fit: contain;
    position: absolute;
    left: 100px;
    bottom: 100px;
}
@media (max-width: 992px) {
    .amd {
        padding: 50px;
    }
    .amd_container_img {
        width: 15%;
        height: 15%;
        object-fit: contain;
        position: absolute;
        left: 50px;
        bottom: 50px;
    }
    .amd_container_text {
        margin-top: 20px;
        font-size: 1.3vw;
    }
}
@media (max-width: 576px) {
    .amd {  
        padding: 20px;
    }
    .amd_container_img {
        width: 10%;
        height: 10%;
        left: 20px;
        bottom: 20px;
    }
    .amd_container {
        width: 50%;
    }
    .amd_container_text {
        font-size: 2vw;
    }
}

/* -------------------------------------------------------- */

/* GAME */
.game {
    background: url(../img/game.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 100%;
    display: flex;
    justify-content: flex-start;
    padding: 135px 0 100px 70px;
    height: auto;
}
.game_container {
    width: 40%;
}
.game_container_text {
    margin-top: 55px;
    font: 1.5vw/1.5 "MyriadPro", "Arial", sans-serif;
    color: #fff;
    font-weight: 400;
}
@media (max-width: 992px) {
    .game {
        padding:100px 50px;
    }
    .game_container_text {
        margin-top: 20px;
        font-size: 1.3vw;
    }
}
@media (max-width: 576px) {
    .game {
        padding: 40px 15px;
    }
    .game_container {
        width: 50%;
    }
    .game_container_text {
        font-size: 2vw;
    }
}

/* -------------------------------------------------------- */

/* Dolby */
.dolby {
    background: url(../img/dolby.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;
    padding: 135px 70px 100px 0;
    height: auto;
}
.dolby_container {
    width: 40%;
}
.dolby_container_text {
    margin-top: 55px;
    font: 1.5vw/1.5 "MyriadPro", "Arial", sans-serif;
    color: #fff;
    font-weight: 400;
    margin-bottom: 130px;
}
.dolby_container_img {
    width: 15%;
    height: 12%;
    object-fit:contain;
    position: absolute;
    right: 70px;
    bottom: 5vh;
}
@media (max-width: 992px) {
    .dolby {
        padding: 50px;
    }
    .dolby_container_text {
        margin-top: 20px;
        font-size: 1.3vw;
    }
}
@media (max-width: 576px) {
    .dolby {
        padding: 20px;
    }
    .dolby_container {
        width: 50%;
    }
    .dolby_container_text {
        font-size: 2vw;
    }
    .dolby_container_img {
        right: 20px;
        bottom: 10vh;
    }
}

/* -------------------------------------------------------- */

/* FPS */
.fps {
    background: url(../img/fps.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-size:cover;
    display: flex;
    justify-content: flex-start;
    padding: 135px 0 100px 70px;
    height: auto;
}
.fps_container {
    width: 50%;
}
.fps_container_text {
    margin-top: 55px;
    font: 1.5vw/1.5 "MyriadPro", "Arial", sans-serif;
    color: #fff;
    font-weight: 400;
}
@media (max-width: 992px) {
    .fps {
        padding: 50px;
    }
    .fps_container_text {
        margin-top: 20px;
    }
}
@media (max-width: 576px) {
    .fps {   
        padding:20px;
    }
    .fps_container {
        width: 50%;
    }
    .fps_container_text {
        font-size: 2vw;
    }
}

/* -------------------------------------------------------- */

/* legionAI */
.legionAI {
    background: url(../img/CPU.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    padding: 137px 70px 100px 70px;
    height: auto;
}
.legionAI_container {
    width: 40%;
}
.legionAI_container_text {
    margin-top: 55px;
    font: 1.5vw/1.5 "MyriadPro", "Arial", sans-serif;
    color: #fff;
    font-weight: 400;
}
.legionAI_img {
    width: 64%;
    height: 100%;
    object-fit: contain;
}
.legionAI_img_container {
    width: 60%;
}
@media (max-width: 992px) {
    .legionAI {
        padding: 50px;
    }
    .legionAI_container_text {
        margin-top: 20px;
    }
}
@media (max-width: 576px) {
    .legionAI {   
        padding: 20px;
    }
    .legionAI_container {
        width: 50%;
    }
    .legionAI_img_container {
        width: 50%;
    }
    .legionAI_container_text {
        font-size: 2vw;
    }
}

/* -------------------------------------------------------- */

/* keyboard */
.keyboard {
    background: url(../img/keyboard.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 100%;
    display: flex;
    justify-content: flex-start;
    padding: 80vh 0 100px 70px;
    height: auto;
    align-items: flex-end;
}
.keyboard_container {
    width: 40%;
}
.keyboard_container_text {
    margin-top: 55px;
    font: 1.5vw/1.5 "MyriadPro", "Arial", sans-serif;
    color: #fff;
    font-weight: 400;
}
@media (max-width: 992px) {
    .keyboard {
        height: auto;
        padding: 200px 30px 30px 30px;
    }
    .keyboard_container_text {
        margin-top: 20px;
        font-size: 1.3vw;
    }
}
@media (max-width: 576px) {
    .keyboard {   
        padding: 40px 15px;
        height: 50vh;
    }
    .keyboard_container {
        width: 50%;
    }
    .keyboard_container_text {
        font-size: 2vw;
    }
}
/* -------------------------------------------------------- */

/* keyboard */
.nahimic {
    background: url(../img/nahimic.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 100%;
    display: flex;
    justify-content: flex-start;
    padding: 80vh 0 50px 70px;
    height: auto;
    align-items: flex-end;
}
.nahimic_container {
    width: 100%;
    display: flex;
    align-items: flex-start;
}
.nahimic_container_text {
    margin-top: 5px;
    font: 1.5vw/1.5 "MyriadPro", "Arial", sans-serif;
    color: #fff;
    font-weight: 400;
}
.width {
    width: 75%;
}
@media (max-width: 992px) {
    .nahimic{
        height: auto;
        padding: 200px 30px 30px 30px;
    }
    .nahimic_container_text {
        margin-top: 5px;
        font-size: 1.3vw;
        margin-left: 10px;
    }
}
@media (max-width: 576px) {

    .nahimic_container_text {
        font-size: 2vw;
    }
}

/* -------------------------------------------------------- */

/* work */
.work {
    background: url(../img/work.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    padding: 135px 70px 100px 70px;
    height: auto;
}
.work_container {
    width: 40%;
}
.work_container_text {
    margin-top:50px;
    font: 1.5vw/1.5 "MyriadPro", "Arial", sans-serif;
    color: #fff;
    font-weight: 400;
}

@media (max-width: 992px) {
    .work {
        padding: 75px 20px;
    }
    .work_container_text {
        margin-top: 20px;
        font-size: 1.3vw;
    }
}
@media (max-width: 576px) {

    .work_container {
        width: 50%;
    }
    .work_container_text {
        font-size: 2vw;
    }
}

/* -------------------------------------------------------- */

/* Footer */

footer {
    background: url(../img/CPU.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    padding: 60px 100px 10px 150px;
    height: auto;
    position: relative;
}
.first_section, .second_section{
    width: 20%;
    display: flex;
    flex-direction: column;
justify-content: space-between;
border-right: 1px solid #00f3ff;
}

h3 {
    font: 1.5vw/1 "Gotham", "Arial", sans-serif;
    font-weight: 600;
    color: #00f3ff;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.footer_container_text {
    font: 1vw/1.5 "MyriadPro", "Arial", sans-serif;
    font-weight: 400;
    color: #fff;
}
.footer_container_text_light {
    font: 0.8vw/1 "MyriadPro", "Arial", sans-serif;
    font-weight: 400;
    color: #fff;
}
.third_section {
    width: 40%;
    display: flex;
    border-right: 1px solid #00f3ff;
}
.container_block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.second_section, .third_section, .fourth_section {
    padding-left: 30px;
    padding-right: 20px;
}
.fourth_section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
}
.footer_link {
    font: 4vw/1 "MyriadPro", "Arial", sans-serif;
    position: absolute;
    top:25%;
    right:0;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    color: #fff;
    padding: 22px 10px;
    background: #3E8DDD;
    box-sizing: border-box;
}
.margin {
    margin-bottom: 100px;
}
.container_block_left {
    margin-right: 10px;
}
@media (max-width:992px) {
    footer {
        padding: 30px;
    }
    .second_section, .third_section, .fourth_section {
        padding-left: 10px;
        padding-right: 10px;
    }
    .margin {
        margin-bottom: 25px;
    }
}